body {
    background-color: rgb(127, 246, 255);
}

.search-form {
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: rgb(68, 68, 211);
    margin-top: 12px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
}

.photo-card {
    display: flex;
    width: 422px;
    border: 1px solid rgba(128, 128, 128, 0.747);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #a9aeffc2;
    box-shadow: 0px 4px 9px 1px rgba(59, 2, 53, 0.2);
}

.photo-card img {
    width: 100%;
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info-item {
    margin: 10px;
}

button {
    background-color: rgb(4, 4, 71);
    border-radius: 10px;
    border: none;
    color: aqua;
    padding: 5px;
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}

.load-more {
    border-radius: 10px;
}

.is-hidden {
    visibility: hidden;
    pointer-events: none;
}